*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
    
}
html{
    font-size: 10px;
}


body{
   /* Pastikan dasarnya hitam */
    width: 100%;
   height:100vh ;
  background-image:url("/daftar-chill/daftar-img/Untitled.png") ; 
   
    font-family: "Inter", sans-serif;
  background-color:black;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  color:#FFFFFF;
 display: flex;
 justify-content: center;
 align-items: center;

}

/* container */
main{
   background-color: rgba(24, 26, 28, 0.84);
   width: 52.9rem;
   height: 77.8rem;
   padding: 4rem 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-sizing:border-box;
   border-radius:1.6rem;
   
}

/* headear (logo,h1,p) */
header{
    display: flex;
    flex-direction: column;
    text-align: center;
   gap: 3.7rem;
  
   
}
header>img{
    width: 16.3rem;
    height: 4.4rem;
    background-size: cover;
}

h1{
  
    font-size: 3.2rem;
    font-weight: bold;
}
header>p{
    font-size: 1.6rem;
}



/* form(input-username,input-password,daftar-akun,masuk-google) */
form{
    margin-top: 3.7rem;
    gap:3.7rem;
display: flex;
flex-direction: column;

    align-items: center;
 
}

/* element label */
label{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 1rem;
   
}

/* element input */
input{
    font-size: 1.6rem;
    width:44.9rem;
    height:5rem;
    border-radius: 2.4rem;
    background-color: rgba(231, 227, 252, 0.23);
    border: 1px solid #3D4142;
    box-sizing:border-box;
    padding:2rem 1.4rem ;
    -webkit-border-radius: 2.4rem;
    -moz-border-radius: 2.4rem;
    -ms-border-radius: 2.4rem;
    -o-border-radius: 2.4rem;
}

/* box setup */
.box-setup{
      width:44.9rem;
    display: flex;
    justify-content:space-between;
    margin-top: 0.5rem;
height: 2.2rem;
 color: #C1C2C4;
}

/* element a (link) */
#daftar,#lupa-password{
    color: #FFFFFF;
    text-decoration: none;
}





/* box-button */
.box-button{
    width: 44.9rem;
    height:13.3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    color: #C1C2C4;
 
}



/* .button masuk */
.button-masuk{
    font-size: 1.4rem;
   width: 44.9rem;
   height: 5rem;
   border-radius: 2.4rem;
   background-color: #3D4142;
   color: #FFFFFF;
   font-weight: bold;
   box-sizing: border-box;
   border: 1px solid #3D4142;
   -webkit-border-radius: 2.4rem;
   -moz-border-radius: 2.4rem;
   -ms-border-radius: 2.4rem;
   -o-border-radius: 2.4rem;
}

/* button masuk google */
.button-masuk_google{
    border: 1px solid #3D4142;
    color: #FFFFFF;
  
    background-color:rgba(231, 227, 252, 0.1);
    padding: 1.4rem 1.4rem;
    width: 45rem;
    height: 5rem;
    border-radius: 2.4rem;
    box-sizing: border-box;
   font-weight: bold;
display: flex;
justify-content: center;


}
.button-masuk_google >img{
    width: 1.8rem;
    height: 1.8rem
}
.button-masuk_google >span{
    display: block;
    width: 15.9rem;
    height: 2.2rem;
    font-size: 1.4rem;
    
   
}




/* 
/* responsive */
/* 
@media screen and (max-width:768px) {
   html{
    font-size: 7px;
  
   }
    
}
@media screen and (max-width:640px) {
   html{
   font-size: 5px;
  
   }
   
}
    

@media screen and (max-width:361px) {
   html{
    font-size: 3px;
  
   }
 

   main{
   margin-top: 80px;
   width: 306px;
   height: 452.28px;
   border-radius:16px ;
   gap: 20px;
}
header{
    
    gap: 20px;
}
header>img{
    width: 94px;
    height: 24px;

}

header>h1{
    font-size: 15px;
    
}

header>p{
    font-size: 10px;
}

   input{
    width: 258px;
    height: 28px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.button-masuk,.button-masuk_google{
    width: 258px;
    height: 30px;
    border-radius: 14px;
    font-size: 10px;
   
}
    
} */ 
