*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
    
}
html{
    font-size: 10px;
}


body{
   /* Pastikan dasarnya hitam */
   max-width: 100%;
   height:100vh ;
  background-image:url("/daftar-chill/daftar-img/Untitled.png") ; 
    font-family: "Inter", sans-serif;
  background-color:black;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  color:#FFFFFF;
 display: flex;
 justify-content: center;
 align-items:center;

}

/* container */
main{
   background-color: rgba(24, 26, 28, 0.84);
   width: 52.9rem;
   height: 77.8rem;
   padding: 4rem 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-sizing:border-box;
   border-radius:1.6rem;
   gap: 3.7rem;

   
}

/* headear (logo,h1,p) */
header{
    display: flex;
    flex-direction: column;
    text-align: center;
   gap: 3.7rem;
  
   
}
header>img{
    width: 16.3rem;
    height: 4.4rem;
    background-size: cover;
}

h1{
  
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom:0.8rem;
}
header p{
    font-size: 1.6rem;
}



/* form(input-username,input-password,daftar-akun,masuk-google) */
form{
   
  
display: flex;
flex-direction: column;

    align-items: center;
 gap: 3.7rem;
}

/* element label */
label{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 1rem;
   
}

/* element input */
input{
    font-size: 1.6rem;
    width:44.9rem;
    height:5rem;
    border-radius: 2.4rem;
    background-color: rgba(231, 227, 252, 0.23);
    border: 1px solid #3D4142;
    box-sizing:border-box;
    padding:2rem 1.4rem ;
   cursor: pointer;
}

input:hover{
    border: 1px solid #FFFFFF;
    padding: 1rem;
}


.password-list{
    position:relative;
    z-index: 0;
}
.eye-off{
    position: absolute;
    height: 2rem;
    width: 2rem;
  margin-top: -3.4rem;
  margin-left:40rem;


    z-index:1;

} 


/* box conditional */
.condtional{
    display: flex;
    justify-content: space-between;
      margin-top: 0.7rem;
}

/* daftar-list */
.list-daftar{
 
    font-size: 1.4rem;
    
  
   
  
height: 2.2rem;
 color: #C1C2C4;
}



/* element a (link) */
.condtional a{
    font-size: 1.4rem;
    color: #FFFFFF;
   text-decoration: none;
}
a:hover{
   color: #C1C2C4;
}






/* box-button */
.box-button{
    width: 44.9rem;
    height:13.3rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    color: #C1C2C4;
 
}
button:hover{
    background-color:rgba(231, 227, 252, 0.23);
    border: 1px solid #FFFFFF;
    
}
button:focus{
    background-color: #C1C2C4;
  color: #3D4142;
border: 1.5px solid #161919;
}

/* .button masuk */
.button-masuk{
    font-size: 1.4rem;
   width: 44.9rem;
   height: 5rem;
   border-radius: 2.4rem;
    background-color:rgba(231, 227, 252, 0.1);
   color:#FFFFFF;
   font-weight: bold;
   box-sizing: border-box;
   border: 1px solid #3D4142;
  cursor: pointer;
}
/* elemnt p(atau) */
.atau{
    font-size: 1.4rem;
}


/* button masuk google */
.button-masuk_google{
    border: 1px solid #3D4142;
    color: #FFFFFF;
  cursor: pointer;
    background-color:rgba(231, 227, 252, 0.1);
    padding: 1.4rem 1.4rem;
    width: 45rem;
    height: 5rem;
    border-radius: 2.4rem;
    box-sizing: border-box;
   font-weight: bold;
display: flex;
justify-content: center;

}


/*img button */
.button-masuk_google >img{
    width: 1.8rem;
    height: 1.8rem

   /* span button */
    
}
.button-masuk_google >span{
    display: block;
    width: 15.9rem;
    height: 2.2rem;
    font-size: 1.4rem;
    
   
}





/* responsive */


/* responsiv md */
@media screen and (max-width:1024px) {
   html{
    font-size: 8px;
  
   }
    
}
@media screen and (max-width:768px) {
   html{
    font-size: 7px;
  
   }
    
}

/* responsiv sm */
@media screen and (max-width:640px) {
   html{
   font-size: 5px;
  
   }
   
}
    
/* responsiv untuk mobile */
@media screen and (max-width:361px) {
 
 

   main{
   width: 306px;
   height: 452px;
   border-radius:16px ;
   gap: 20px;
   padding: 24px 24px;
  
}
header{
    
   
    gap: 15px;
  
}
header>img{
    width: 94px;
    height: 24px;

}

header h1{
    font-size: 18px;
    margin-bottom: 4px;
    
}

header p{
    font-size: 10px;
}


form{
gap: 20px;
}
   input{
   width: 258px;
   height: 28px;
   font-size: 10px;
   border-radius:12px ;
   
}
.eye-off{
    margin-left: 230px;
}

label{
    font-size: 10px;
}

.daftar-list{
    font-size: 8px;

}

#masuk{
    font-size: 8px;
}


.atau{
    font-size: 9px;
}
.button-masuk,.button-masuk_google{
    width: 258px;
    height: 30px;
    border-radius: 14px;
    font-size: 10px;
    padding: 7px ;
   
}
.box-button{
    margin-top: 20px;
}
   .button-masuk_google span{
font-size: 10px;
width: max-content;
   } 
.button-masuk_google img{
    width: 11px;
   height: 12px;
   margin-right: 10px
   ;
}
}

 
