/* section melanjutkan tontonan film */
.container-card{
    width: 100vw;
    height: auto;
}

.container-card img{
  transition: all 0.7ms ease-in-out;
  cursor: pointer;
  
}

.container-card img:hover{
    padding: 0.2rem;
 
}
.melanjutkan-tonton-film{

  width:100%;
height: auto;
padding: 2rem 1rem;

}

.melanjutkan-tonton-film h2{
    font-size: 1.4rem;
    line-height: 120%;
    font-style: bold;
}
.card-film-tontonan{
       overflow: auto;
    display: flex;
   
 
   justify-content: space-evenly;
  
}
.card-film-tontonan img {
    width: 36rem;
    height: auto;
    margin-top:2rem;
    position: relative;
}

/* box anak panah */
.anak_panah{
   width: 100vw;
    padding:0;
  margin-top: 5%;
    position:absolute;
    display: flex;
    justify-content: space-between;

}
.anak_panah img{
    width:3rem ;
    height: auto;
}
.anak_panah,.anak_panah_groub img{
  
    height: auto;
    display: none;
}




/*section top rating film */

.top-rating-film{
    width:100%;
height: auto;
padding: 2rem 1rem;
margin-top: 2rem;
}

.top-rating-film h2{
   font-size: 1.4rem;
    line-height: 120%;
    font-style: bold;   


}

.card-film-top{
       overflow: auto;
    display: flex;
    gap: 1rem;
    justify-content:space-evenly;
}

.card-film-top img {
    width:9.5rem;
    height: auto;
    margin-top:2rem;
    position: relative;
}


/* section film Rilis terbaru */
.film-rilis{
    width:100%;
height: auto;
padding: 2rem 1rem;
}

.card-film-rilis h2{
   font-size: 1.4rem;
    line-height: 120%;
    font-style: bold;   


}

.card-film-rilis{
       overflow: auto;
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.card-film-rilis img {
    width:9.5rem;
    height: auto;
    margin-top:2rem;
    position: relative;
}

/* section film tranding */
.film-tranding{
    width:100%;
height: auto;
padding: 2rem 1rem;
}

.card-film-tranding h2{
   font-size: 1.4rem;
    line-height: 120%;
    font-style: bold;   


}

.card-film-tranding{
       overflow: auto;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.card-film-tranding img {
    width:9.5rem;
    height: auto;
    margin-top:2rem;
    position: relative;
}











